<!DOCTYPE html>
<html>
  <head>
    <title>Common symptoms</title>
    <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body style="height:80%; min-height: 80%;">
    <nav class="navbar navbar-expand-lg bg-white main-nav">
      <a class="navbar-brand p-0" href="/">
        <img src="{{url_for('static', filename='Logo.svg')}}"/>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon">
          <i class="fa fa-align-justify"></i>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="https://soulpageit.com/contact-us/"><button class="contact-btn">Contact us</button></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="text-center common-row">
        <p class="headline mb-1">Common Symptoms</p>
        <p class="age-question">Are you suffering with any of these?</p>

        <form action="/covid.India.ai/less_common_sym" method="POST">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox1"
              value="None"
              name="Symptom1"
            />
            <label class="form-check-label" for="inlineCheckbox1">None</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox2"
              value="Fever"
              name="Symptom2"
            />
            <label class="form-check-label" for="inlineCheckbox2">Fever</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox3"
              value="Dry cough"
              name="Symptom3"
            />
            <label class="form-check-label" for="inlineCheckbox3">Dry cough</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox4"
              value="Tiredness"
              name="Symptom4"
            />
            <label class="form-check-label" for="inlineCheckbox4">Tiredness</label>
          </div>
          <div>
          <button type="submit" class="gender-btn">
              Next
          </button>
        </div>
        </form>
      </div>
    </div>
    <div class="px-4 img-section">
      <div class="img-wrapper" style="background:url(/static/Background.svg);"></div>
    </div>
    <!-- <div class="text-center py-4">
      <p class="copyright-text mb-0">
        Copyright @ 2020 All Rights Reserved | Soulpageitsolutions
      </p>
    </div> -->

    <!-- new change -->
    <footer class="common-footer">
     
      <p class="copyright-text mb-0">
        Copyright @ 2020 All Rights Reserved | Soulpageitsolutions
      </p>
   
    </footer>

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
