<!DOCTYPE html>
<html>
  <head>
    <title>Symptoms checker</title>
    <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet"> 
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-white main-nav">
      <a class="navbar-brand p-0" href="/">
        <img src="{{url_for('static', filename='Logo.svg')}}"/>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon">
          <i class="fa fa-align-justify"></i>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="https://soulpageit.com/contact-us/"><button class="contact-btn">Contact us</button></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="text-center content-row">
        <p class="headline mb-1">Covid 19 Self Assessment Tool</p>
        <p class="request">
          Please answer to the questions to the best of your knowledge.
        </p>
        <p class="age-question">What is your Age?</p>
        <form method="POST" action="/covid.India.ai/Gender">
          <div class="row">
            <div class="col-md-4 col-sm-3 d-none d-sm-block"></div>
            <div class="col-md-4 col-sm-6 col-12 p-md-0">
              <div class="input-wrapper">
                <div class="input-group mb-3 ml-lg-5 age-input" style="width: 82%">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter your age"
                    name="Age"
                  />
                  <div class="input-group-append">
                    <button type="submit" class="next-btn">Next</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-3 d-none d-sm-block"></div>
        </form>
      </div>
    </div>
    <div class="px-4 img-section">
        <div class="img-wrapper"></div>
    </div>

    <!-- new change  -->
    <footer class="index-footer">
     
      <p class="copyright-text mb-0">
        Copyright @ 2020 All Rights Reserved | Soulpageitsolutions
      </p>
   
    </footer>

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
