<!DOCTYPE html>
<html>
  <head>
    <title>Pre health condition</title>
    <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-white main-nav">
      <a class="navbar-brand p-0" href="/">
        <img src="{{url_for('static', filename='Logo.svg')}}"/>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon">
          
        <i class="fa fa-align-justify"></i>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="https://soulpageit.com/contact-us/"><button class="contact-btn">Contact us</button></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="text-center content-row">
        <p class="headline mb-1">Major Pre-existing Diseases</p>
        <p class="age-question">Are you suffering with any of these?</p>
      </div>
      <form action="/covid.India.ai/Result" method="POST">
        <div class="row">
          <div class="col-lg-3 d-none d-lg-block"></div>
          <div class="col-lg-3 col-md-4 col-sm-3 col-3 p-0">
            <div class="form-check">
              <input
                class="form-check-input less-check"
                type="checkbox"
                id="inlineCheckbox1"
                value="None"
                name="Symptom1"
              />
              <label class="form-check-label" for="inlineCheckbox1">None</label>
            </div>
            <div class="form-check mt-2">
              <input
                class="form-check-input less-check"
                type="checkbox"
                id="inlineCheckbox2"
                value="Active cancer"
                name="Symptom2"
              />
              <label class="form-check-label" for="inlineCheckbox2"
                >Active cancer</label
              >
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-5 col-sm-5 pl-0">
            <div class="form-check">
              <input
                class="form-check-input less-check"
                type="checkbox"
                id="inlineCheckbox3"
                value="Heart attacks"
                name="Symptom3"
              />
              <label class="form-check-label" for="inlineCheckbox3"
                >Heart attacks</label
              >
            </div>
            <div class="form-check mt-2">
              <input
                class="form-check-input less-check"
                type="checkbox"
                id="inlineCheckbox4"
                value="Chronic kidney disease"
                name="Symptom4"
              />
              <label class="form-check-label" for="inlineCheckbox4"
                >Chronic kidney disease</label
              >
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-4 col-sm-4 p-0">
            <div class="form-check">
              <input
                class="form-check-input less-check"
                type="checkbox"
                id="inlineCheckbox5"
                value="Other heart disease"
                name="Symptom5"
              />
              <label class="form-check-label" for="inlineCheckbox5"
                >Other heart disease</label
              >
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="gender-btn">Next</button>
        </div>
      </form>
    </div>
    <div class="px-4 img-section">
      <div class="img-wrapper"></div>
    </div>
    <div class="text-center py-4">
      <p class="copyright-text mb-0">
        Copyright @ 2020 All Rights Reserved | Soulpageitsolutions
      </p>
    </div>

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
