<!DOCTYPE html>
<html>
  <head>
    <title>Serious symptoms</title>
    <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-white main-nav">
      <a class="navbar-brand p-0" href="/">
        <img src="{{url_for('static', filename='Logo.svg')}}"/>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon">
          <i class="fa fa-align-justify"></i>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="https://soulpageit.com/contact-us/"><button class="contact-btn" type="submit">Contact us</button></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="text-center content-row">
        <p class="headline mb-1">Serious Symptoms</p>
        <p class="age-question">Are you suffering with any of these?</p>
    </div>
        <form action="/covid.India.ai/pre_existing_health" method="POST">
          <div class="row">
              <div class="col-lg-3 d-none d-lg-block"></div>
            <div class="col-lg-4 col-md-6 col-sm-4 col-12 p-sm-0">
              <div class="form-check">
                <input
                  class="form-check-input less-check"
                  type="checkbox"
                  id="inlineCheckbox1"
                  value="None"
                  name="Symptom1"
                />
                <label class="form-check-label" for="inlineCheckbox1"
                  >None</label
                >
              </div>
              <div class="form-check mt-2">
                <input
                  class="form-check-input less-check"
                  type="checkbox"
                  id="inlineCheckbox2"
                  value="Chest pain or pressure"
                  name="Symptom2"
                />
                <label class="form-check-label" for="inlineCheckbox2"
                  >Chest pain or pressure</label
                >
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-12 p-sm-0 text">
              <div class="form-check ml-sm-4 ml-md-0">
                <input
                  class="form-check-input less-check"
                  type="checkbox"
                  id="inlineCheckbox3"
                  value="Difficulty breathing or shortness of breath"
                  name="Symptom3"
                />
                <label class="form-check-label" for="inlineCheckbox3"
                  >Difficulty breathing or shortness of breath</label
                >
              </div>
              <div class="form-check mt-2 ml-sm-4 ml-md-0">
                <input
                  class="form-check-input less-check"
                  type="checkbox"
                  id="inlineCheckbox4"
                  value="Loss of speech or movement"
                  name="Symptom4"
                />
                <label class="form-check-label" for="inlineCheckbox4"
                  >Loss of speech or movement</label
                >
              </div>
            </div>
            <div class="col-md-1 d-none d-lg-block"></div>
          </div>
          <div class="text-center">
            <button type="submit" class="gender-btn">Next</button>
          </div>
        </form>
     
    </div>
    <div class="px-4 img-section">
      <div class="img-wrapper"></div>
    </div>
    <div class="text-center py-4">
      <p class="copyright-text mb-0">
        Copyright @ 2020 All Rights Reserved | Soulpageitsolutions
      </p>
    </div>

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
